<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ps - register</title>
</head>
<link rel="stylesheet"href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"href="css/component.css">
<link rel="stylesheet"href="css/responsive.css">
<body>

    <div id="overlay">
        <h1>PS-Saver</h1>
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
        </div>
    </div>
<div class="circle">
<img src="img/svg-1red.png"/>
<div class="noteIntro">
    <h1><i class="fa fa-lock"></i>Ps-saver  <br /> Register</h1>
    <p>A ps-saver is
         an online locker to save all your password. To assess your saved password..
        you just have to login in or create
         an account with us</p>
         <button style="background:(--dark);
         padding:13px 18px;background:var(--dark);
         border:none;color:white">Read More</button>
</div>
</div>
<div class="form">
    <form method="POST">
            <h1><i class="fa fa-lock"></i>Ps-saver  <br /> Register</h1>
        <div class="avatar">
            <img src="img/svg-2.png"/>
        </div>
        <label>Username</label>
        <input type="text" class="username" placeholder="Enter Username">

        <br />
        <label>Email</label>
        <input type="email" class="email" placeholder="Enter Email">

        <br />
        
        <label>Password</label>
        <input type="password" class="password" placeholder="Enter Password"><br />
       
        <label>Confirm Password</label>
        <input type="password" class="password" placeholder="Confirm Password"><br />
       
        <input type="submit" class="submit-btn"value="Register">
    </form>
    <a href="#"class="forgotten_password">Forgotten password ?</a>
    <p>Already have an Account ? <a href="login.html"?>login</a></p>
    <div class="social_icons">
        <i class="fa fa-github"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-whatsapp"></i>
    </div>

</div>


<script src="js/script.js"></script>
</body>
</html>