<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ps - report a problem</title>
</head>
<link rel="stylesheet"href="lib/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"href="css/component.css">
<link rel="stylesheet"href="css/responsive.css">
<body>

   
        <div id="overlay">
                <h1>PS-Saver</h1>
                <div class="loader">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    
                </div>
            </div>
        
        
        
        <section id="top">
            <nav>
        <div class="logo">
            <h2>PS Saver</h2>
        </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="nav-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </nav>
        
        </section>

<section id="banner">
    <div class="content">
        <div class="row">
            <div class="text">
            <h1>Ps Saver</h1>
            <p>Is Something not working right ?</p>
        </div>
    </div>
        <div class="row">
            <img src="img/svg-1red.png"class="banner-img">
        </div>
    </div>
</section>

<div class="report">
    <h3>Something isn't working?</h3>
    <ul>
        <li><a href="forgotten password">Forgotten Password ?</a></li>
        <li><a href="forgotten password">Can't Save Details ?</a></li>
        <li><a href="forgotten password">Can't login ?</a></li>
    </ul>
    <h3>Let us know about the problem</h3>
    <p>Make sure you mention the specific problem</p>
    <textarea placeholder="What went Wrong"></textarea><br />
    <input type="submit"value="Submit">
</div>


<section id="contact">
        <footer>
 <div class rows>
     <ul>
         <li><a href="#">Contact</a></li>
         <li><a href="#">Support</a></li>
     </ul>
 </div>
 <div class rows>
     <ul>
         <li><a href="report.html">Report a Problem</a></li>
         <li><a href="help.html">Help</a></li>
         <li><a href="">Log out</a></li>
     </ul>
 </div>
         </footer>
     </section>
 




<script src="js/script.js"></script>
<script>
        let hamburger=document.querySelector(".fa-bars");
        
        hamburger.addEventListener("click",()=>{
            document.querySelector(".nav-links").classList.toggle("toggle_list")
        })
        
        </script>
</body>
</html>